<!--<h2>Add a tweet</h2>-->
<!--<%= @error %>	<form action="/tweets" method="POST">-->
<!--  <form action='/tweets' method="post">	  <p>Status: <input type="text" name="content"></p>-->
<!--    Content:	  <input type="submit" value="submit">-->
<!--    <input type="text" name="content"><br>-->
<!--  </form> -->
<form action='/tweets' method="post">
    Content:	   
    <input type="text" name="content">

    <input class="btn btn-primary" type="submit" value="submit">
  </form>	