<!--<h1>Welcome to Fwitter!</h1>-->
<!--<div class="container">-->
<!--   <%= yield %>-->
<!--   </div>-->
<!--   <br>-->
<!--  <a href="/"><button type="button">Home</button></a>-->
<!--  </footer>-->

<!doctype html>
<html>	
  <head>	  
    <title>Fwitter</title>	    
  </head>	  
  <body>	 

  <h1>Welcome to Fwitter!</h1>
    <div class="container">	   
      	
      <%= yield %>
    </div>	


    </div>
  </body>	  
  
    
    
  <!-- <% if logged_in? %>-->
  <!-- <a href="/logout">Log Out</a> -->
  <!-- <%end%> -->
  <br>
  <a href="/"><button type="button">Home</button></a>
  </footer>
</html>	</html>